{% extends 'base.html.twig' %}

{% block title %}Rental index{% endblock %}

{% block body %}
    <h1>Rental index</h1>

    <table class="table text-center">
        <thead>
        <tr>
            <th>Id</th>
            <th> Driver </th>
            <th>Vehicle</th>
        </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td>{{ rental.id }}</td>
                <td><a href="{{ path('driver_show', {id: rental.driver.id}) }}">{{ rental.driver.name }}</a></td>
                <td><a href="{{ path('vehicle_show', {id: rental.vehicle.id}) }}">{{ rental.vehicle.brandAndModel }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('rental_create') }}">New rental</a>
{% endblock %}
